*{
    margin: 0px;
    padding: 0px;
    border: solid 0px;
    text-decoration: none;
    list-style-type: none;
    font-family: sans-serif;
    font-size: 14px;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: #F1F0EE;
    display: flex;
    justify-content: center;
}

.content{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
}

nav{
    max-width: 100%;
    margin: 0px;
    background-color: #63BF1D;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    padding-left: 20px;
}

.namepage{
    font-size: 40px;
    color: white;
}

.button-menu, ul, li{
    display: flex;
    flex-direction: row;
    padding: 0px 4px 0px 20px;
    font-size: 25px;
}

.start-image {
    width: 100%;
    position: relative;
}

.text-image{
    position: absolute;
    z-index: 10;
    color: #ffffff;
    font-size: 80px;
    top: 255px;
    right: 150px;
}

article{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.box-two-column{
    width: 65%;
    padding: 60px 20px 0px 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.box-two-column h2{
    font-size: 40px;
    padding-bottom: 30px;
}

.first-column, .second-column{
    width: 50%;
}

.box-one-column{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}

.photo{
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
    padding: 50px 0px;
}

.group{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

h3 {
    font-size: 35px;
    padding: 30px 0px;
}

h4{
    text-align: left;
    font-size: 30px;
    padding: 10px 0px;
}

p{
    width: 90%;
    text-align: left;
    font-size: 20px;
    padding: 30px 0px;
}

.praia {
    width: 90%;
}

q{
    font-size: 50px;
}

cite{
   
    font-size: 20px;
}

.contact{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    background-color: lightgray;
    padding: 20px;
    margin-top: 75px;
    min-height: 400px;
}

button{
    width: 90%;
    background-color: #63BF1D;
    font-size: 35px;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

footer{
    background-color: #63BF1D;
    padding-top: 10px;
    padding-left: 20px;
    color: white;
}


   




